.games{
    width: 100%;
    min-height: 100vh;
    background-color: var(--tertiary-color);
}



.GameHeader{
    width: 100%;
    height: 40vh;
    display: flex;
    padding: 80px 0;

}
.GameHeader .Box1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.GameHeader .Box2{
    width: 50%;
    height: 100%;
    display: flex;
    background: url('../../assets/Controlers.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.BoxDiscription{
    width: 100%;
    height: 100%;
    background: url('../../assets/backgrounds/DescriptionBase.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.BoxDiscription p{
    width: 60%;
}
.Game{
    width: 100%;
}
.GameScreen{
    width: 100%;
    height: 80vh;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
}
.GameScreen .LeftSide, .GameScreen .RightSide{
    width: 100%;
    display: flex;
}
.GameScreen .LeftSide{
    justify-content: left;
}
.GameScreen .RightSide{
    justify-content: right;
}
.GameScreen .line{
    width: 1px;
    background-color: var(--primary-color);
}
.GameFooter{
    height: 5vh;
    background: url('../../assets/backgrounds/GameHeadersBaseYellow.png');
    background-repeat: no-repeat;
    background-position: 110%;
}
.Configs{
    margin: 50px 0;
    height: 50vh;
    background-color: var(--primary-color);
}
.LeaderBoard{
    height: 50vh;
    background-color: var(--primary-color);
}

.BallContainer{
    position: absolute;
    width: 100%;
    height: 80vh;
}

